extends layout
block content
  h1= title
  form(id='ballsForm', action="/resource/Balls", method="POST")
    div.form-group
      label.ballAttr(for='ball_type') Ball type
      input#ball_type(type='text', name='ball_type')
    div.form-group
      label.ballAttr(for='cost') Ball cost
      input#cost(type='number', name='cost')
    div.form-group
      label.ballAttr(for='material') Ball material
      input#material(type='text', name='material')
    input(type="submit")
    script.
      document.forms['ballsForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
          method: 'POST',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Save succeded")
          // TODO handle body
        }).catch((error) => {
        // TODO handle error
          alert("Save failed " + error )
        });
      });

