extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance to update
  else
    - let _id = toShow._id
    - let ball_type = toShow.ball_type
    - let cost = toShow.cost
    - let material = toShow.material

    div.row(class='mb-2')
      div.mr-1 ID is
      div #{_id}

    - let actionid = "/resource/Balls/" + _id
    form(id='ballsForm', action= actionid, method="PUT")
      div.form-group
        label.ballAttr(for='ball_type') Ball type
        input#ball_type(type='text', name='ball_type', value= ball_type)

      div.form-group
        label.ballAttr(for='cost') Ball cost
        input#cost(type='number', name='cost', value= cost)

      div.form-group
        label.ballAttr(for='material') Ball material
        input#material(type='text', name='material', value= material)

      input(type="submit")

    script.
      document.forms['ballsForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show the user that the form is being submitted
        fetch(event.target.action, {
          method: 'PUT',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Update succeeded");
          // TODO handle the response body
        }).catch((error) => {
          // TODO handle error
          alert("Update failed: " + error);
        });
      });
