body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.ballAttr {
  background-color: aquamarine;
  width: 120px;
  }

.ballAttr1{
  background-color:aqua;
  padding: 12px;
  width:150px;
  margin:3px;
} 

.ballVal{
  padding:12px;
  background-color: lightgrey;
  margin: 3px;
  width:210px;
}

